div{
    position: relative;
    height: 25px;
    background-color: blanchedalmond;
}
.cabina{
    position: absolute;
    content: "";
    width:10px;
    height: 10px;
    background-color: rgba(136, 253, 253, 0.5);
    border: 2px solid black;
    border-radius: 20% 50% 0 0;
    animation: moveCabina 0.8s infinite;
}
.corpus{
    position: absolute;
    margin-top: 8px;
    margin-left: 20px;
    content: "";
    width: 30px;
    height: 10px;
    background-color: black;
    border-radius: 0 50% 0 0;
    animation: moveCorpus 0.8s infinite;
}
.truba{
    position: absolute;
    content: "";
    width: 5px;
    height: 10px;
    background-color: transparent;
    margin-top: 4px;
    margin-left: 40px;
}
.truba-1{
    position: absolute;
    content: "";
    width: 1px;
    height: 8px;
    border-radius: 0 50% 0 0;
    background-color: black;
    border: 1px solid black;
}
.truba-2{
    position: absolute;
    content: "";
    width: 3px;
    height: 1px;
    margin-left: -1.5px;
    border-radius: 0 50% 0 0;
    background-color: black;
    border: 1px solid black;
}
.L-wheel{
    position: absolute;
    margin-top: 8px;
    margin-left: -8px;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid black;
    box-shadow: 0 0 0 1px  white;
    animation: moveWheel 1s linear infinite;
}
.L-wheel-1{
    position: absolute;
    width: 100%;
    height: 0.5px;
    background-color: white;
    top: 50%;
    transform: translateY(-50%);
}
.R-wheel{
    position: absolute;
    margin-top: 13px;
    margin-left: 37px;
    content: "";
    width:10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid black;
    box-shadow: 0 0 0px 1px  white;
    animation: moveWheel 1s linear infinite;
}
.R-wheel-1{
    position: absolute;
    width: 100%;
    height: 0.5px;
    background-color: white;
    top: 50%;
    transform: translateY(-50%);
}
.L-wheel-1:nth-child(2),
.R-wheel-1:nth-child(2){
    transform: rotate(45deg);
}
.L-wheel-1:nth-child(3),
.R-wheel-1:nth-child(3){
    transform: rotate(90deg);
}
.L-wheel-1:nth-child(4),
.R-wheel-1:nth-child(4){
    transform: rotate(135deg);
}.L-wheel-2{
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    margin-top: 35%;
    margin-left: 35%;
    border-radius: 100%;
    background-color: black;
}
.R-wheel-2{
    position: absolute;
    content: "";
    width: 2px;
    height: 2px;
    margin-top: 38%;
    margin-left: 38%;
    border-radius: 100%;
    background-color: black;
}
.clouds{
    position: absolute;
    content: "";
    margin-top: 1px; 
    margin-left: 23px;
    width: 5px;
    height: 5px;
    background-color: transparent;
    animation: anima 0.8s infinite;
}
.cloud-1{
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background-color: transparent;
}
.cloud-1-1{
    position: absolute;
    content: "";
    width: 2px;
    height: 2px;
    margin-left: 1px;
    border-radius: 100%;
    background-color: rgba(128, 128, 128);
}
.cloud-1-1:nth-child(2){
    margin-left: 2px;
    margin-top: 0.5px;
}
.cloud-1-1:nth-child(3){
    margin-top: 1px;
    margin-left: 0px;
}
.cloud-1-1:nth-child(4){
    margin-top: 1.5px;
    margin-left: 1px;
}
.cloud-2{
    position: absolute;
    content: "";
    margin-top: 3px;
    margin-left: 5px;
    width: 5px;
    height: 5px;
    background-color: transparent;
}
.cloud-2-1{
    position: absolute;
    content: "";
    width: 2px;
    height: 2px;
    margin-left: 1px;
    border-radius: 100%;
    background-color: rgba(128, 128, 128);
}
.cloud-2-1:nth-child(2){
    margin-left: 2px;
    margin-top: 0.5px;
}
.cloud-2-1:nth-child(3){
    margin-top: 1px;
    margin-left: 0px;
}
.cloud-2-1:nth-child(4){
    margin-top: 1.5px;
    margin-left: 1px;
}
.Flag{
    position: absolute;
    width: 10px;
    height: 0.5px;
    margin-top: -7px;
    margin-left: -8px;
    background-color: black;
    top: 50%;
    transform: rotate(45deg);
}
.Flag-1{
    position: absolute;
    width: 5px;
    height: 2px;
    margin-top: 2px;
    margin-left: -1.5px;
    background-color: rgb(0, 87, 184);
    transform: rotate(90deg);
}
.Flag-1:nth-child(2){
    margin-left: 0.5px;
    background-color: rgb(255, 215, 0);
}
@keyframes anima{
    0% { 
        margin-top: 1px; 
        margin-left: 23px;
     }
    50%{
        margin-top: 0px;
        margin-left: 20px;
    }
    100%{
        margin-top: -1px; 
        margin-left: 17px;
    }
}
@keyframes moveWheel{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
}
@keyframes moveCabina{
    0%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(1.2);
    }
    100%{
        transform: scaleY(0.8);
    }
}
@keyframes moveCorpus{
    0%{
        transform: scale(1, 1);
    }
    50%{
        transform: scale(1.1, 0.9);
    }
    100%{
        transform: scale(0.9, 1.1);
    }
}

/* .cabina{
    transform: scaleY(1.5);
}
.corpus{
    transform: scale(1.2, 0.8);
} */